html {
  /* font-size: clamp(14px, 1vw + 1rem, 18px); */
}
/* Does this even help? */

:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  --space-8: 70px;

  background: url("/main_bg.jpg");
  background-size: cover;

  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-l: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;
}
body::-webkit-scrollbar {
  width: 0px;
  border: 1px solid #d5d5d5;
}
/* 
::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: blue;
}

 ::-webkit-scrollbar-thumb:horizontal{
        background: red;
        border-radius: 1px;
 } */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media (max-width: 768px) {
  :root {
    width: 100%;
    --space-6: 32px;
    --space-7: 48px;
  }
}
